body {
  background-image: radial-gradient( #60C4D7, #2e708b);
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.wrapper{
    height: 100vh;
}

h1{
    color: rgb(35, 127, 154);
    font-weight:700;
    font-family: 'Jura', sans-serif;
}
  
label{ 
  color: #555; 
  font-size:0.8rem; 
  margin:0;
}

.form-control,
.custom-select, 
.input-group-text,
.form-control:focus, 
.custom-select:focus, 
.input-group-text:focus{
    padding:0;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    background-color: white;
}

.input-group:not(.inputValue) .input-group-text,
.custom-select{
  font-size:1.1rem;
}

.input-group:not(.inputValue) .input-group-text:after{
    content: ":";
    padding-left:5px;
    padding-right:5px;
}

.custom-select{
  font-weight: 300;
  border-bottom:1px solid #ccc;
}

.convertedValue, 
.form-control, 
.inputValue .input-group-text,
.input-group-text{
  font-size: 3em; 
  line-height:1;  
  color: #555;
  font-family: 'Jura', sans-serif;
}

.inputValue .input-group-text, 
.form-control{
  padding-right:5px;
  color:#666;
}

.form-control{
  padding-left:5px;
}
 
.card, 
.btn{
  border:0;
  box-shadow:1px 15px 20px 1px rgba(0,0,0,0.3);
}

.card-header,
.card-footer{
  background: 0;
  border: 0;
}

.btn, 
.btn:focus {
  background: #347b24; 
  color: rgba(255,255,255,1);
  padding:1em 2em;
  letter-spacing: 2px;
  font-weight: 700;
}

.btn:hover, 
.btn:active{
  background-color:#1e5810;
}

.btn:focus, 
.btn:active{
  outline: none;
  box-shadow: none;
} 

.form-control::-webkit-inner-spin-button, 
.form-control::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
