
body {
  background-image: radial-gradient(#21706c, #60C4D7);
  background-attachment: fixed;
}

.wrapper{
  height: 100vh;
}
  
h1{
    color: rgba(0,0,0,0.4);
    font-weight:600;
    font-size:3em;
}

label{
  color: rgba(0,0,0,0.35);
  font-size:0.9rem;
  font-weight:600;
}

.form-control, 
.custom-select, 
.input-group-text,
.form-control:focus, 
.custom-select:focus, 
.input-group-text:focus{
    padding:0;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    background-color: white;
}

.input-group:not(.inputValue) .input-group-text,
.custom-select{
  font-size:0.9rem;
}

.input-group:not(.inputValue) .input-group-text:after{
    content: ":";
    padding-left:5px;
    padding-right:5px;
}

.custom-select{
    border-bottom:1px solid #ccc;
}

.convertedValue, .form-control, 
.inputValue .input-group-text{
    font-size: 2em;   
    color: #555;
}

.inputValue .input-group-text, .form-control{
    padding-right:5px;
    font-weight: 300;
    color:#999;
}

.form-control{
  padding-left:5px;
}

.card, 
.btn{
  border:0;
  box-shadow:1px 15px 20px 1px rgba(0,0,0,0.3);
}

.card-header,
.card-footer{
  background: 0;
  border: 0;
}

.btn, .btn:focus {
  background: #845EC2;
  color:white;
  padding:1em 2em;
  vertical-align:center;
}

.btn:hover, .btn:active{
  background-color:#FFC75F;
  color:#845EC2;
}

.btn:focus, .btn:active{
  outline: none !important;
  box-shadow: none !important;
} 

.form-control::-webkit-inner-spin-button, 
.form-control::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}