--- 
layout: default 
title: Currency Converter 
---

<div class="container h-100">
  <div class="row align-items-center justify-content-center h-100">
    <div class="col-lg-8 col-xs-10">
      <div class="card px-5">
        <div class="card-header  pb-4 pt-5">
          <h1 class="text-center text-uppercase">
              <i class="fas fa-chart-line fa-fw" aria-hidden=true></i>
            {{ page.title }}
          </h1>
        </div>
        <div class="card-body pb-3">
          <div class="row">
            <div class="col-lg-12 col-xl-6 pb-4">
              <label for="convertFrom">From</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="convertCodeFrom">USD</span>
                </div>
                <select class="custom-select" id="convertFrom">
                </select>
              </div>
            </div>
            <div class="col-lg-12 col-xl-6 pb-4">
              <label for="convertTo">To</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="convertCodeTo">BWP</span>
                </div>
                <select class="custom-select" id="convertTo">
                </select>
              </div>
            </div>
          </div>
          <div class="row pt-2 pb-4">
            <div class="col-lg-12 col-xl-6 pb-3">
              <div class="input-group inputValue">
                <div class="input-group-prepend ">
                  <label for="inputValue" class="input-group-text" id="convertSymbolFrom">$</label>
                </div>
                <input type="number" autofocus="autofocus" id="inputValue" class="form-control" min="0" placeholder="0" required>
              </div>
            </div>

            <div class="col-lg-12 col-xl-6 pb-3">
              <div class="convertedValue">
                <span id="convertSymbolTo">P</span>
                <span id="convertedValue">0.00</span>
              </div>
            </div>
          </div>
            
          <div class="text-center pb-4"> 
            <button id="convertBtn" class="btn btn-primary btn-block btn-lg text-uppercase" type="submit">
                <i class="fas fa-retweet fa-fw" aria-hidden=true></i>
              convert
            </button>
          </div>
        </div>
        <div class="card-footer pb-3">
          <p class="text-center">created with
            <i class="fas fa-coffee fa-fw" aria-hidden=true></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>